body {
    padding: 25px;
    background-color: blanchedalmond;
}

.nav .nav-item .nav-link {
    color: black;
}

.tab-pane {
    padding: 40px;
    border-radius: 20px;
    border: 4px solid black;
}
#home {
    background-color: red;
}

#shop {
    background-color: green;
}

#contact {
    background-color: blue;
    color: aliceblue;
}

#new {
    background-color: orange;
    color: white;
